@CHARSET "ISO-8859-1";

.input_container {
	height: 30px;
	float: left;
}
.input_container input {
	height: 20px;
	width: 200px;
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 0;
}



.search_container{
	
}

.search_container ul {
	width: 80%;
	height: 40%;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #f3f3f3;
	list-style: none;
	margin : auto;
	overflow:hidden;
	overflow-y:scroll;
}
.search_container ul li {
	padding: 2px;

}

.search_container ul li{
	color: #1e7ad3;
    text-decoration: none;

}

.spec_lib{
	font-size: 14px;
	font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

.search_container ul li:hover {
	background: #006dcc;
	color: #ffffff;
}
#formation_list{
	display: none;
	position : absolute;
}

.form-control{
	display: block;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}